<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboardcustomer"
        [text]="buttonText"
        [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/mie.jpg" />
    <ion-card-header>
      <ion-card-title style="font-size:20px" id="nama"></ion-card-title>
      <ion-card-subtitle id="harga"></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="font-size:16px">
      <ion-grid style="margin: 0px; padding: 0px">
        <ion-row style="margin: 0px; padding: 0px; border-bottom: 1px dotted grey">
          <ion-col style="margin: 0px; padding: 0px" size="3">
            Alamat
          </ion-col>
          <ion-col style="margin: 0px; padding: 0px" size="1">
            :
          </ion-col>
          <ion-col style="margin: 0px; padding: 0px" size="8" id="alamat">
          </ion-col>
        </ion-row>
        <ion-row style="margin: 0px; padding: 0px; border-bottom: 1px dotted grey">
          <ion-col style="margin: 0px; padding: 0px" size="3">
            No.Telp
          </ion-col>
          <ion-col style="margin: 0px; padding: 0px" size="1">
            :
          </ion-col>
          <ion-col style="margin: 0px; padding: 0px" size="8" id="no_telp">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-footer class="ion-no-border" class="ion-padding">
      <ion-button class="ion-margin-top" (click)="pesan()" expand="block">Pesan</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>
