<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card style="margin-top:30px">
      <ion-progress-bar id="buffer-login" value="0.5" buffer="0.75"></ion-progress-bar>
      <img id="food-image" style="margin-bottom:0px" src="../../assets/img/fruit.png" />
      <ion-card-header>
        <ion-card-subtitle id="logo-2">Selamat Datang Di</ion-card-subtitle>
        <ion-card-title id="logo">Kuliner Nusantara</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (submit)="onSubmit()">
          <ion-list>
            <ion-item>
              <ion-input class="input-text" placeholder="Username" type="text" required formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input class="input-text" placeholder="Password" type="password" required formControlName="password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button type="submit" id="login-button" class="ion-margin-top" expand="block">Login</ion-button>
          <a id="daftar-baru" routerLink [routerLink]="['/register']"><u>Daftar Baru</u></a>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
