<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Hallo, {{ nama }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Preferensi Makanan</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pengaturan</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Keluar</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-button style="color:#757575;" slot="start"></ion-menu-button>
      <ion-select (ionChange)="onJenis($event)" placeholder="Pilih Jenis Makanan" class="ion-padding">
        <ion-select-option value="1">Mie Aceh</ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <span id="populer">

    </span>

    <span id="rekomendasi">

    </span>

    <span id="tekait">

    </span>
  </ion-content>
</div>
