<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"
        [text]="buttonText"
        [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="blockquote" style="margin-top:15px">
    <ion-card-header>
      <ion-card-title>Daftar Baru</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (submit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" required formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">No.Telp</ion-label>
          <ion-input type="phone" required formControlName="no_telp"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nama</ion-label>
          <ion-input type="text" required formControlName="nama"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Type User</ion-label>
          <ion-select required formControlName="type_user">
            <ion-select-option value="r">Restoran</ion-select-option>
            <ion-select-option value="c">Customer</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Longitude</ion-label>
          <ion-input type="text" id="input-longitude" required formControlName="longitude" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Latitude</ion-label>
          <ion-input type="text" id="input-latitude" required formControlName="latitude" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Wilayah Asal</ion-label>
          <ion-select required formControlName="kode_asal">
            <ion-select-option value="11">Aceh</ion-select-option>
            <ion-select-option value="12">Sumatra Utara</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Alamat</ion-label>
          <ion-textarea required formControlName="alamat"></ion-textarea>
        </ion-item>
        <ion-button type="submit" class="ion-margin-top" expand="block">Register</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
