<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about">
      <ion-icon name="storefront-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="maps">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
