<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboardcustomer"
        [text]="buttonText"
        [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card-title style="font-size: 16px; align:center;">
    <center>Silahkan masukan Rating untuk makanan yang sudah dibeli.</center>
  </ion-card-title>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Rating Makanan</ion-label>
        <ion-select value="1" id="rating">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-card-title style="font-size: 16px; align:center;">
      <center>(*) Rating 1 diberikan untuk penilaian buruk dan Rating 5 diberikan untuk penilaian bagus.</center>
    </ion-card-title>
    <ion-button style="margin-top: 10px" (click)="kirim()" expand="block">Berikan Rating</ion-button>
</ion-content>
