<ion-header>
  <ion-toolbar>
    <ion-title>profilmakanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Type Makanan</ion-label>
      <ion-select formControlName="id_type_makanan" required>
        <ion-select-option value="1">Mie Aceh</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tekstur</ion-label>
      <ion-textarea required formControlName="tekstur"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bahan dan Bumbu</ion-label>
      <ion-textarea required formControlName="bahan_bumbu"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Aroma</ion-label>
      <ion-textarea required formControlName="aroma"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rasa</ion-label>
      <ion-textarea required formControlName="rasa"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cara Memasak</ion-label>
      <ion-textarea required formControlName="cara_memasak"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cara Penyajian</ion-label>
      <ion-textarea required formControlName="cara_penyajian"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level Pedas</ion-label>
      <ion-select formControlName="level_pedas" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level Gurih</ion-label>
      <ion-select formControlName="level_gurih" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level Manis</ion-label>
      <ion-select formControlName="level_manis" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level Asin</ion-label>
      <ion-select formControlName="level_asin" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level Asam</ion-label>
      <ion-select formControlName="level_asam" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level Nutrisi</ion-label>
      <ion-select formControlName="nutrisi" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Level Tekstur</ion-label>
      <ion-select formControlName="tekstur_level" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bahan Alami</ion-label>
      <ion-select formControlName="penggunaan_bahan_alami" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kesegaran Makanan</ion-label>
      <ion-select formControlName="kesegaran_makanan" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kebersihan Makanan</ion-label>
      <ion-select formControlName="kebersihan_makanan" required>
        <ion-select-option value="0">0</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Status Halal</ion-label>
      <ion-select formControlName="status_halal_makanan" required>
        <ion-select-option value="h">Halal</ion-select-option>
        <ion-select-option value="nh">Non-Halal</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Harga</ion-label>
      <ion-input type="text" required formControlName="harga"></ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-margin-top" expand="block">Tambah Produk</ion-button>
  </form>
</ion-content>
