<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/register" expand="block">
    Register
  </ion-button>
  <ion-button routerLink="/login" expand="block">
    Login
  </ion-button>
</ion-content>
